html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
}

html,
body,
p,
ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main {
    display: flex;
    padding: 30px 0;
}

h1 {
    font-size: 42px;
    margin: 0 0 20px 0;
}

/*
 * Deck of cards
 */
.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}
.deck .card.open,
.deck .card.match,
.deck .card.error {
    cursor: default;
    font-size: 33px;
}
.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    pointer-events: none;
}
.deck .card.match,
.deck .card.error {
    pointer-events: none;
}

.deck .card.match {
    background: #02ccba;
}
.deck .card.error {
    background: #e24c4c;
}

/*
 * Score Panel
 */
.score-panel {
    display: flex;
    text-align: left;
    font-family: Menlo, cursive;
    justify-content: center;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    padding: 0;
    display: inline-block;
    margin: 0 10px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .progress {
    display: flex;
}

.score-panel .restart {
    cursor: pointer;
}

/*
 * Timer
 */
.timer__panel {
    text-align: center;
    margin: 0 0 20px 0;
}
.timer__start {
    background-color: #ff8400;
    border: 1px solid #ff8400;
}
.timer__reset {
    background-color: #fff;
    border: 1px solid #ff8400;
    color: #ff8400!important;
}
.timer__start,
.timer__reset {
    padding: 10px 30px;
    text-transform: uppercase;
}
.timer {
    font-size: 30px;
    font-weight: 600;
    margin-top: 10px;
}

/*
 * Success message
 */
.success {
    background-color: #fff;
    justify-content: center;  
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    z-index: 1050;
}

.success div {
    display: flex;
    flex-direction: column;
    justify-content: center;  
}
.success button {
    background-color: #24f1c3;
    font-weight: 600;
    margin: 20px auto 0 auto;
    padding: 10px 0;
    width: 35%;
}

/*
 * Helper classes
 */
.button {
    border: none;
    border-radius: 3px;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    color: #fff;
    cursor: pointer;
}

/*
 * State classes
 */
.is-hidden {
    display: none;
}
.is-flex-visible {
    display: flex;
}

@media (max-width: 992px) {
    main {
        flex-direction: column;
    }
}
